#quote {
    font-size: 2rem;
    height: 8rem;
    display: grid;
    text-align: center;
    color: darkolivegreen
}

button {
    background: rgb(102, 135, 104);
    margin: auto;
    display: flex center;
    display: grid;
    width: 15rem;
    height: 2rem;
    font-size: 1rem;
    color: white;
    border-radius: 0.5rem;
    justify-content: center;
    border-color: black;
    vertical-align: center;
    text-align: center;
    line-height: 1.5rem;

}

.wrapper {
    border-radius: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    margin: 0 auto;
    /* Per telefon */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

#history {

    color: rgb(140, 94, 94);
    text-align: center;
    font-family: Monospace;
    font-size: 1rem;
    padding: 2rem;

}

@media only screen and {
    (max-width: 400px)
}